@page "/Login"
@inject NavigationManager Navigation
@inject	CustomAuthStateProvider AuthProvider
@rendermode InteractiveServer

<h3>Inicio de Sesion Test</h3>

<input @bind="username" type="text" placeholder= "Usuario"/>
<input @bind="password" type="password" placeholder="contraseña" />
<button @onclik="Onlogin"></button>

@code {
	private string username;
	private string password;

	private void Onlogin()
	{
		if (string.IsNullOrWhiteSpace(username) && !string.IsNullOrWhiteSpace(password))
		{
			AuthProvider.login(username);
			Navigation.NavigateTo("/Home");
		}
	}
}



@code {

}
